/* GENERAL */
body {
  height: 100vh;
  width: 60vw;
  min-width: 400px;
  max-width: 700px;
  margin: 0 auto;
  background-color: #f8ffff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
}

/* TITLE */
.title {
  text-align: center;
  color: #0e3b9c;
}

.title-main {
  font-size: 3em;
  margin: 2rem auto 0 auto;
  padding-bottom: 0.5rem;
}

.title-sub {
  margin: 0 auto 2rem auto;
  font-style: italic;
}

/* FORM */
form {
  background-color: white;
  border-radius: 15px;
  padding: 0.5rem 0.5rem;
  box-shadow: 2px 2px 40px 2px #ccc;
}

/* FIELDSET */
fieldset {
  border: none;
  width: 90%;
  margin: 1rem auto;
  border-bottom: 3px solid #c7d7fa;
}

.container.question {
  margin: 1rem auto;
}

fieldset:last-of-type {
  border-bottom: none;
}

/* LEGEND */
.main-legend {
  color: #0e3b9c;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0.2rem 0;
  text-align: center;
}

/* INFORMATION */
input[type="text"],
input[type="email"],
select {
  display: block;
  padding: 0.2em;
  width: 70%;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
}

/* EVALUATION */
input[type="radio"] {
  accent-color: #00d4ff;
}

.radio-container {
  text-align: center;
}

.radio-container label {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

label {
  color: #1148c0;
}

.question {
  margin: 1.5rem auto;
}

/* COMMENT */
.container.feedback {
  text-align: center;
}

textarea {
  width: 100%;
  height: 4rem;
  border: 1px solid #ccc;
  margin: 0.5rem auto;
}

/* BUTTON */
button {
  display: block;
  text-align: center;
  margin: 0.5rem auto;
  padding: 0.5rem 0;
  width: 40%;
  background-color: #1751d1;
  color: white;
  border: none;
  border-radius: 8px;
}

button:hover {
  background-color: #175bed;
}
