/* General */
body {
  height: 100vh;
  background-color: #f8ffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

form {
  width: 60vw;
  min-width: 400px;
  max-width: 700px;
  background-color: white;
  margin: 0 auto;
  padding: 2.5rem;
  box-shadow: 3px 3px 20px #ccc;
  border-radius: 20px;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #1143ae;
}

fieldset:first-of-type {
  margin-bottom: 2rem;
}

/* Headings */
.first {
  margin: 0 auto !important;
}

.maintext {
  font-size: 1.2em;
  margin: 1rem auto 1rem auto;
  color: #0e3b9c;
}

.subtext {
  font-size: 0.7em;
  color: #8ca4d5;
  margin: 0 auto 0 auto;
}

#title {
  font-size: 2.5em;
  color: #0e3b9c;
  text-align: center;
  margin: 2rem auto 0 auto;
}

#description {
  font-size: 1em;
  margin: 1rem auto 1.5rem auto;
  text-align: center;
  color: #0e3b9c;
}

.heading {
  font-size: 1.5em;
  color: #0e3b9c;
  text-align: center;
}

/* Typography */
p {
  font-size: 0.8em;
}

/* Input */

.checkbox-group label {
  display: block;
  margin-bottom: 0.75rem;
  font-size: 1em;
  color: #0e3b9c;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.radio-container {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.radio-button {
  display: inline;
  margin: 2em auto;
  transform: scale(1.2);
}

.radio-number {
  font-size: 1em;
}

input[type="radio"] label {
  display: block;
  text-align: left;
  margin-right: 1rem;
  color: #0e3b9c;
}

input[type="number"],
input[type="text"],
input[type="email"],
textarea {
  font-size: 1em;
  display: block;
  width: 100%;
  margin: 0.5em 0;
  background-color: aliceblue;
  padding: 0.5rem;
  border: aliceblue;
}

input[type="number"] {
  width: 10%;
}

select {
  padding: 0.5rem 0.2rem;
}

label {
  font-size: 1em;
  margin: 0.5rem auto;
  color: #0e3b9c;
}

#submit {
  display: block;
  padding: 0.75rem 2rem;
  margin: 2rem auto;
  width: 40%;
  background-color: #1143ae;
  border: none;
  color: #f8ffff;
  font-size: 1em;
  border-radius: 8px;
}

#submit:hover {
  background-color: #2e66e0;
}
