*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.frame {
  width: 100%;
  height: 40vh;
  padding: 3rem;
  text-align: center;
  background-color: rgb(0, 54, 162);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

#title {
  margin: 8px 0;
  text-align: center;
  color: rgb(217, 230, 255);
}

#title + p {
  margin-bottom: 50px;
  font-style: italic;
  font-size: 0.9rem;
  color: rgb(217, 230, 255);
}

.label {
  margin-bottom: 5px;
  color: rgb(217, 230, 255);
}

input {
  width: 70%;
  padding: 4px;
  margin-bottom: 6px;
}

input + p {
  margin-bottom: 35px;
  font-style: italic;
  font-size: 0.6rem;
  color: rgb(240, 240, 240);
  display: block;
}

button {
  width: 50%;
  padding: 9px;
  margin: 0 auto;
  margin-bottom: 70px;
  display: block;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#result {
  color: white;
  font-weight: 700;
}

#error {
  color: rgb(255, 76, 76);
  font-weight: bold;
  display: none;
  margin-bottom: 20px;
  font-size: 14px;
}

.bold {
  font-weight: 700;
}
