*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #26292e;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  gap: 1rem;
  background-color: #23282e;
  width: 600px;
  height: 700px;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.screen {
  grid-column: 1 / -1;
  height: 100px;
  padding: 1rem;
  border: 8px;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.2);
  background-color: #22262c;
  text-align: right;
  color: white;
  font-size: 2.5rem;
}

.buttons-container {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.equals {
  background-color: #fb7c15;
}

.addition,
.subtraction,
.division,
.multiplication,
.dot,
.percent,
.ac,
.delete {
  color: #5de328;
}

.button:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.equals:hover {
  box-shadow: 0 0 20px #894000;
}

.button:active {
  background-color: white;
  color: #23282e;
}

.equals:active {
  background-color: white;
  color: #fb7c15;
  box-shadow: 0 0 20px white;
}

.addition:active,
.subtraction:active,
.division:active,
.multiplication:active,
.dot:active,
.percent:active,
.ac:active,
.delete:active {
  color: #5de328;
}

.ac {
  grid-column: span 2;
  width: 100%;
  border-radius: 50px;
}
