@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --clr-neutral-a0: #ffffff;
  --clr-neutral-a10: #c6c6c6;
  --clr-neutral-a20: #919191;
  --clr-neutral-a30: #5e5e5e;
  --clr-neutral-a40: #303030;
  --clr-neutral-a50: #171717;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Urbanist, Inter, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.7px;
}

h1 {
  text-transform: uppercase;
}

h2 {
  padding-bottom: 20px;
  font-weight: 600;
}

h1,
h2,
p {
  color: var(--clr-neutral-a0);
}

#title {
  text-align: center;
  font-size: 2.3rem;
  color: white;
}

.sidebar {
  min-height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding: 20px;
  color: whitesmoke;
}

.content {
  min-height: 100vh;
  width: 100%;
  margin-left: 250px;
  margin-right: 250px;
  padding: 20px;
  background-color: var(--clr-neutral-a50);
}

.sidebar {
  left: 0;
  width: 250px;
  background-color: var(--clr-neutral-a40);
}

.sidebar a {
  display: block;
  padding: 15px 0 15px 11px;
  border-radius: 6px;
  margin-left: 6px;
  text-decoration: none;
  color: whitesmoke;
}

.active:hover {
  background-color: var(--clr-neutral-a30);
  margin-left: 12px;
}

.newlist {
  padding: 12px 0 15px 8px;
  border-radius: 6px;
  margin-left: 6px;
  cursor: pointer;
  color: rgb(204, 204, 204);
}

.content .h3 {
  font-size: 18px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 12px;
}

.to-do {
  padding: 20px;
  background-color: var(--clr-neutral-a40);
  border-radius: 8px;
  border: none;
  font-size: 16px;
  width: 100%;
}

.to-do::placeholder {
  color: var(--clr-neutral-a0);
}

.to-do::active {
  border: none;
}

.tasks {
  margin-top: 20px;
}

.task-item {
  background-color: var(--clr-neutral-a30);
  margin-top: 60px;
  padding: 20px;
  border-radius: 8px;
  font-size: 16px;
}

i,
.fa-solid,
.fa-regular,
.fa-brands {
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900;
  font-size: 1.3rem;
}
