/* Font Face */
@font-face {
  font-family: "D-DIN";
  src: url("/fonts/d-din_woff2/D-DIN.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "D-DIN-Bold";
  src: url("/fonts/d-din_woff2/D-DIN-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* General */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "D-DIN", sans-serif;
}

/* Nav-Bar */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: transparent;
  position: fixed;
}

#header img {
  width: 20%;
}

#nav-bar ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin-right: 5px;
  text-transform: uppercase;
}

#nav-bar .nav-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
}

#nav-bar .nav-link:hover,
#nav-bar .nav-link:active {
  text-decoration: underline;
  opacity: 0.7;
}

/* Hero */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  z-index: 10;
}

.hero h2 {
  font-size: 2rem;
  font-weight: 600;
  color: white;
  line-height: 1.1;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero p {
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
}

/* Main Content */
.main-content-container {
  height: 90vh;
  background-color: #ed1d24;
  background: url(/images/bg\(1\).png);
  background-size: contain;
  color: white;
  padding: 25px;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* Home Section */
#Home {
  text-align: center;
}

#Home #email {
  padding: 0.4rem;
  width: 70%;
  font-family: "D-DIN", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  box-shadow: 1px 1px 4px #232023;
}

#Home #submit {
  padding: 0.2rem;
  width: 50%;
  display: block;
  margin: 1rem auto;
  background-color: #ffffff;
  border: none;
  color: #ed1d24;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.6;
  box-shadow: 1px 1px 5px #232023;
}

#Home #submit:hover {
  background-color: #ed1d24;
  color: #ffffff;
  box-shadow: 1px 1px 5px #ccc;
}

#Home form h2 {
  font-size: 1.7em;
  text-transform: uppercase;
  margin: 0 auto 1.4rem auto;
  letter-spacing: 1px;
  font-weight: 700;
}

/* About Section */
#About {
  margin-top: 2rem;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.feature-1 h2,
.feature-2 h2,
.feature-3 h2 {
  font-size: 1.4em;
}

.feature-1 p,
.feature-2 p,
.feature-3 p {
  font-size: 0.8em;
}

.video {
  margin: 30px auto;
}

#video {
  width: 100%;
  height: 30vh;
  border: none;
  outline: none;
  object-fit: cover;
  box-shadow: 1px 1px 5px #000000;
  border-radius: 5px;
}

#Contact {
  display: flex;
  justify-content: space-between;
}

.social {
  font-size: 0.8em;
  margin-left: 5px;
  margin-top: 7px;
}

.social p {
  margin-bottom: 10px;
  font-weight: 700;
}

.social-icons {
  display: flex;
  margin: 0 auto 10px 15px;
  gap: 20px;
}

i {
  font-size: 24px;
  color: #ed1d24;
}

i:active {
  color: #eb3d43;
}

.copyright {
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.copyright p:nth-child(1),
.copyright p:nth-child(2) {
  display: inline-block;
  margin: 3px 5px 0 auto;
  text-decoration: underline;
}

.copyright p a:visited {
  color: #eb3d43;
}

.copyright p:last-child {
  margin: 10px 5px 3px auto;
  color: #aeadad;
}

/* Media Queries */
@media (min-width: 576px) {
  .hero-content h2 {
    font-size: 3em;
  }
  .hero-content p {
    font-size: 1.2em;
  }
  #nav-bar .nav-link {
    font-size: 1em;
  }
  #video {
    width: 100%;
    height: 35vh;
  }
  .copyright {
    font-size: 0.9em;
  }
}

@media (min-width: 768px) {
  #nav-bar .nav-link {
    font-size: 1.1em;
  }
  .hero-content h2 {
    font-size: 4em;
  }
  .hero-content p {
    font-size: 1.4em;
  }
  #Home #form h2 {
    font-size: 2em;
  }
  #Home #form #submit {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .features {
    font-size: 1.2em;
  }
  #video {
    width: 100%;
    height: 30vh;
  }
  .social p {
    font-size: 1.3em;
  }
  .social i {
    font-size: 2rem;
  }
  .copyright {
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  #header {
    padding: 20px;
  }
  #header #header-img {
    width: 7rem;
  }
  #nav-bar ul {
    font-size: 1em;
    gap: 60px;
  }
  #Home #form h2 {
    font-size: 2.7em;
  }
  #Home #form #email {
    width: 40%;
  }
  #Home #form #submit {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    width: 30%;
  }
  .features {
    font-size: 1.6em;
    display: flex;
    gap: 50px;
    margin-left: 20%;
    margin-bottom: 70px;
  }
  .main-content-container {
    height: 120vh;
  }
  #video {
    margin-left: 25%;
    width: 50%;
    height: 50vh;
  }
  .social p {
    font-size: 1.4em;
    margin-left: 1rem;
  }
  .social i {
    font-size: 2.2rem;
  }
  .copyright {
    font-size: 1em;
  }
}
